# Virtual environment
venv/

# Database files
*.sqlite3
*.db

# IDE/Editor files
.vscode/
.idea/
*.pyc
.DS_Store

# Static and media files
staticfiles/
media/

# Logs and temporary files
*.log
*.tmp
/tmp/

# Migration files
*/migrations/*.py
*/migrations/*.pyc

# Local settings
settings_local.py

# Dependency files
requirements.txt
Pipfile.lock
poetry.lock